<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>biaoqing001</string>
		<key>chs</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing002</string>
		<key>chs</key>
		<string>[色色]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing003</string>
		<key>chs</key>
		<string>[嘻嘻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing004</string>
		<key>chs</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing005</string>
		<key>chs</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing006</string>
		<key>chs</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing007</string>
		<key>chs</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing008</string>
		<key>chs</key>
		<string>[耍酷]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing009</string>
		<key>chs</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing010</string>
		<key>chs</key>
		<string>[吃惊]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing011</string>
		<key>chs</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing012</string>
		<key>chs</key>
		<string>[好衰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing013</string>
		<key>chs</key>
		<string>[吐舌]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing014</string>
		<key>chs</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing015</string>
		<key>chs</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing016</string>
		<key>chs</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing017</string>
		<key>chs</key>
		<string>[困乏]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing018</string>
		<key>chs</key>
		<string>[不屑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing019</string>
		<key>chs</key>
		<string>[晕晕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing020</string>
		<key>chs</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing021</string>
		<key>chs</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing022</string>
		<key>chs</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing023</string>
		<key>chs</key>
		<string>[安慰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing024</string>
		<key>chs</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing025</string>
		<key>chs</key>
		<string>[狂吐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing026</string>
		<key>chs</key>
		<string>[饥饿]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing027</string>
		<key>chs</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing028</string>
		<key>chs</key>
		<string>[不爽]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing029</string>
		<key>chs</key>
		<string>[强大]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing030</string>
		<key>chs</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing031</string>
		<key>chs</key>
		<string>[弱爆]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing032</string>
		<key>chs</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing033</string>
		<key>chs</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing034</string>
		<key>chs</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing035</string>
		<key>chs</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing036</string>
		<key>chs</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing037</string>
		<key>chs</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing038</string>
		<key>chs</key>
		<string>[吃饭]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing039</string>
		<key>chs</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing040</string>
		<key>chs</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing041</string>
		<key>chs</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing042</string>
		<key>chs</key>
		<string>[钱币]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing043</string>
		<key>chs</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing044</string>
		<key>chs</key>
		<string>[吃药]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing045</string>
		<key>chs</key>
		<string>[内裤]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing046</string>
		<key>chs</key>
		<string>[内衣]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing047</string>
		<key>chs</key>
		<string>[强壮]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing048</string>
		<key>chs</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing049</string>
		<key>chs</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing050</string>
		<key>chs</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing051</string>
		<key>chs</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing052</string>
		<key>chs</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing053</string>
		<key>chs</key>
		<string>[围观]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing054</string>
		<key>chs</key>
		<string>[夜晚]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing055</string>
		<key>chs</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing056</string>
		<key>chs</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing057</string>
		<key>chs</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing058</string>
		<key>chs</key>
		<string>[咧嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing059</string>
		<key>chs</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing060</string>
		<key>chs</key>
		<string>[阴笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing061</string>
		<key>chs</key>
		<string>[捂嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing062</string>
		<key>chs</key>
		<string>[气炸]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing063</string>
		<key>chs</key>
		<string>[呜呜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing064</string>
		<key>chs</key>
		<string>[狂暴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing065</string>
		<key>chs</key>
		<string>[好囧]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing066</string>
		<key>chs</key>
		<string>[惊吓]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing067</string>
		<key>chs</key>
		<string>[好色]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing068</string>
		<key>chs</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing069</string>
		<key>chs</key>
		<string>[坏坏]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing070</string>
		<key>chs</key>
		<string>[捂眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing071</string>
		<key>chs</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing072</string>
		<key>chs</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing073</string>
		<key>chs</key>
		<string>[封嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing074</string>
		<key>chs</key>
		<string>[叹气]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing075</string>
		<key>chs</key>
		<string>[鬼脸]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing076</string>
		<key>chs</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing077</string>
		<key>chs</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing078</string>
		<key>chs</key>
		<string>[吓尿]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing079</string>
		<key>chs</key>
		<string>[斜视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing080</string>
		<key>chs</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing081</string>
		<key>chs</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing082</string>
		<key>chs</key>
		<string>[晕乎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing083</string>
		<key>chs</key>
		<string>[恶心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biaoqing084</string>
		<key>chs</key>
		<string>[鼓掌]</string>
	</dict>
</array>
</plist>
